
.funds_token_box {
  min-height: 100%;
  width: 100%
}
.heading_title {
    padding: 16px 24px
}
.heading_left {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 19px;
  line-height: 32px
}
.heading_right {
  line-height: 32px;
  font-size: 16px;
}